/* About page */
/* main body */
body {
  max-width: 700px; 
  margin: 0 auto;
  margin-top: 8%;
  background-color: #f6c9cc;
  padding: 0% 5% 20% 5%;
}

a {
  color: #962f39;
}

a:hover {
  color: #fff;
}

.bkg {
  background-image: url("http://res.cloudinary.com/dxg6sopth/image/upload/v1511216201/NYCscape_1_wdxtfj.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

body p, footer {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
}

body p, .footer-text, .footer-text a {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 300;
  color: #962f39 !important;
}

h1, h2, #takequiz, #letsgo, #inside, #outside, #park, #buildings, #northern1, #northern2, #central, #nighttime, #daytime, #east1, #east2, #west1, #west2, #south1, #south2, #south3, #aerial, #ground, #closer, #farther, #allday, #short, #laidback, #hustle, #picnic, #restaurant {
  font-family: 'Palanquin Dark', sans-serif;
  letter-spacing: 1px;
  font-weight: 300; 
}

div #letsgo, div #inside, div #outside {
  display: none;
}

.footer-text a:hover {
  color: #fff;
  transition: all 1s;
}

h2 {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

#takequiz:hover, #letsgo:hover, #inside:hover, #outside:hover, #park:hover, #buildings:hover, #northern1:hover, #northern2:hover, #central:hover, #nighttime:hover, #daytime:hover, #east1:hover, #east2:hover, #west1:hover, #west2:hover, #south1:hover, #south2:hover, #south3:hover,  #aerial:hover, #ground:hover, #closer:hover, #farther:hover, #allday:hover, #short:hover, #laidback:hover, #hustle:hover, #picnic:hover, #restaurant:hover {
  color: #f6c9cc !important;
  background-color: #962f39;
  -webkit-transition-duration: 0.7s; 
  transition-duration: 0.7s;
  cursor: pointer;
}

#takequiz:active, #letsgo:active, #inside:active, #outside:active, #park:active, #buildings:active, #northern1:active, #northern2:active, #central:active, #nighttime:active, #daytime:active, #east1:active, #east2:active, #west1:active, #west2:active, #south1:active, #south2:active, #south3:active,  #aerial:active, #ground:active, #closer:active, #farther:active, #allday:active, #short:active, #laidback:active, #hustle:active, #picnic:active, #restaurant:active {
  color: #fff;
  background-color: #000;
  -webkit-transition-duration: 0.7s; 
  transition-duration: 0.7s;
  width: 300px;
}

main {
  max-width: 650px;
  padding: 10px;
  display: inline-block;
}

#bottom::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  margin-top: 0%;
  text-align: center;
  font-size: .75em;
}

.footer-text::after {
  content: "";
  display: table;
  clear: both;
}

/* mobile/tablet view */
@media screen and (max-width: 768px) {
  .question, .answer-choices {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .main-question {
    font-size: 2em;
    color: #fff;
  }
  #takequiz {
    font-size: 1.5em;
    color: #962f39;
    border-top: 2px solid #962f39;
    border-left: 2px solid #962f39;
    border-right: 5px solid #962f39;
    border-bottom: 5px solid #962f39;
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px 3px 10px 3px;
    border-radius: 15px;
  }
  #letsgo, #inside, #outside, #park, #buildings, #northern1, #northern2, #central, #nighttime, #daytime, #east1, #east2, #west1, #west2, #south1, #south2, #south3, #aerial, #ground, #closer, #farther, #allday, #short, #laidback, #hustle, #picnic, #restaurant {
    font-size: 1.5em;
    color: #962f39;
    border-top: 2px solid #962f39;
    border-left: 2px solid #962f39;
    border-right: 5px solid #962f39;
    border-bottom: 5px solid #962f39;
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px 3px 10px 3px;
    border-radius: 15px;
  }
  #bottom {
    width: 90%;
    margin: 0 auto;
  }
  #bottom-image {
    margin: 0 auto;
    width: 100%;
  }
}

/* desktop view */
@media screen and (min-width: 769px) {
  .question, .answer-choices {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .main-question {
    font-size: 3.5em;
    color: #FFF;
  }
  #takequiz {
    font-size: 2.1em;
    color: #962f39;
    border-top: 2px solid #962f39;
    border-left: 2px solid #962f39;
    border-right: 7px solid #962f39;
    border-bottom: 7px solid #962f39;
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 10px 3px 10px 3px;
    border-radius: 30px;
  }
  #letsgo, #inside, #outside, #park, #buildings, #northern1, #northern2, #central, #nighttime, #daytime, #east1, #east2, #west1, #west2, #south1, #south2, #south3, #aerial, #ground, #closer, #farther, #allday, #short, #laidback, #hustle, #picnic, #restaurant {
    font-size: 2.2em;
    color: #962f39;
    border-top: 2px solid #962f39;
    border-left: 2px solid #962f39;
    border-right: 7px solid #962f39;
    border-bottom: 7px solid #962f39;
    display: block;
    width: 185px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 10px 3px 10px 3px;
    border-radius: 30px;
  }
  #bottom {
    display: block;
  }
  #bottom-image {
    width: 80%;
    margin: 0% 0% 0% 10%;
  }
}